.clickme{
    background-color: black;
    color: white;
}
.noclickme{
    background-color: yellow;
}
.clickme,
.noclickme {
    font-size: 28px;
    font-family: helvetica, 'Times New Roman', sans-serif;
}