.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  border: 2px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  display: flex;
}

ul {
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
}

/* body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding:8px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  margin: 0 auto;
} */

/* body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  padding: 32px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  padding: 32px;
  margin-left: auto;
} */

/* .box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}

.alternate {
  box-sizing: border-box;
  width: 300px;
  height: 150px;
} */
    

/* .para,
.small-para {
  color: hsl(0, 100%, 50%);
}

.para {
    font-size: 22px;
  }

.small-para {
  font-size: 14px;
}

.button.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.child {
  color: red;
  font-size: 14px;
}

div.text {
  color: green;
  font-size: 22px;
} */